.search-form {
    width: 90%;
    position: relative;
    max-width: 500px;
    padding: 0.25rem 0.75rem;
    border-radius: 99px;
    border: 1px solid lightgray
}

.search-form:focus-within {
    border: 1px solid #4040c4
}

.search-form form {
    display: flex;
    flex: 1;
}

.search-form__input {
    flex: 1;
    outline: none;
    outline-width: 0;
    border: none;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
}

.search-form__button {
   display: none;
}

.search-form__suggestions {
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
}

.search-form__suggestions li {
    cursor: pointer;
    list-style: none;
    padding: 0.5rem 1rem;
 
}

.search-form__suggestions li:hover,.search-form__suggestions--active   {
    background-color: lightgray;
}
